{% extends 'registration/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
        <div class="card my-5">
            <div class="card-header">
            <h1 class="text-center">Create Player</h1>
            </div>
            <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label for="id_first_name">First Name:</label>
                <input type="text" name="first_name" id="id_first_name" class="form-control">
                </div>
                <div class="form-group">
                <label for="id_last_name">Last Name:</label>
                <input type="text" name="last_name" id="id_last_name" class="form-control">
                </div>
                <div class="form-group">
                <label for="id_team_ids">Teams:</label>
                {% for team in teams %}
                    <div class="form-check">
                    <input type="checkbox" name="team_ids" id="id_team_{{ team.pk }}" value="{{ team.pk }}" class="form-check-input">
                    <label for="id_team_{{ team.pk }}" class="form-check-label">{{ team.city }} {{ team.mascot }}</label>
                    </div>
                {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
