{% extends 'registration/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Teams</h1>
        <div class="row">
            {% for team in teams %}
            <div class="col-md-6">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h4 class="card-title">{{ team.city }} {{ team.mascot }}</h4>
                        <p class="card-text">Players: {{ team.player_set.count }}</p>
                        <a href="{% url 'team_detail' pk=team.pk %}" class="btn btn-primary">View Team</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



